@charset "utf-8";
/*common*/

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 24px;
  color: white;
}

h2 {
  margin: 0;
  color: white;
}

h3 {
  margin: 0;
  color: white;
}

p {
  margin: 0;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
  color: white;
}

/*header*/

header {
  display: flex;
  background:#00b7ce;
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
 }

 header h1 {
  line-height: 64px;
  margin: 0 8px;
 }

header nav {
  margin-left: auto;
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header nav a {
  display: block;
  width: 100px;
  line-height: 64px;
  text-align: center;
}

 header a:hover {
  opacity: 0.4;
}

/*hero*/


.hero {
 background:#00b7ce;
 width: 100%;
 height: 400px;
 opacity: 0.9;
 margin-top: 64px; /*一番上にスクロールしたとき画像がヘッダーと重ならないようにするため*/

}
.hero h1 {
    padding-top: 32px;
    padding-left: 32px;
    font-size: 56px;
    animation: popup 3s;
}

.hero h3 {
    color: black;
    padding-left: 32px;
}

.number {
    color: white;
 }

@keyframes popup {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

/*description*/

.main {
  padding: 80px;
  text-align: center;
  background: #313338;
}
.main h2 {
  padding-top: 72px;
}

.introduction {
    width: 70%;
    margin: 0 auto;
}

.introduction h3 {
  border-bottom: 1px solid white;
  margin-top: 32px;
  text-align: left;
}

.introduction p {
  margin-top: 16px;
  text-align: left;
}


.box {
  display: flex;
  width: 70%;
  margin: 16px auto 0;
}

.item {
    flex: 1;
    margin: 0 5px;
    width: calc(25vw -10px);
    height: 13vw;
    background: black;
    font-size: 48px;
    font-weight: bold;
    padding-top: calc(13vw / 2);
}

.html {
  font-size: 45px;
  text-shadow: 0 0 20px pink;

}
.css {
  text-shadow: 0 0 20px skyblue;
}
.js {
  text-shadow: 0 0 20px yellow;
}

.php {
  text-shadow: 0 0 30px rgb(248, 3, 248);
}

/*games*/
.games {
  width: 50%;
  margin: 64px auto 0;
  position: relative;
  overflow: hidden;
  height: 160px;
}

.games #omikuji-ul {
  width: 100%;/*miniGamesの領域いっぱいに広げる*/
  list-style: none;
  padding: 0;
  margin: 0 0 16px 0;/*miniGamesが16px,margin-bottomも16pxだから真ん中に矢印が来る*/
  display: flex;
  transition: transform .3s;
}

.games li {
  min-width: 100%;/*画像が親のulの幅100％になるようにする。これがないと画像が縮まる */
}

.game1,
.game2 {
  display: inline-block;/*aにwidthを設定するため */
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  background:#1f2f54;
  border: 1px solid white;
  box-sizing: border-box;
  padding: 24px 0;
  width: 100%;
}

#prev,
#next {
position: absolute;
top: 50%;
transform: translateY(-50%);
border: none;
background: white;
color: black;
font-size: 24px;
padding: 0 8px 4px;
cursor: pointer;
}

#prev:hover,
#next:hover {
  opacity: .8;
}

#prev {
  left: 0;
}
#next {
  right: 0;
}

.hidden {
  display: none;
}

/*contact*/

.contact {
  background:#1f2f54;
  padding-bottom: 72px;
  margin-top: 64px;
  text-align: center;
}

textarea {
  width: 400px;
  height: 80px;
}

.btn {
  width: 80px;
  color: white;
  border: 1px solid white;
  border-radius: 16px;
  margin:16px auto 0;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}
.btn:active {
  transform: translateY(2px);
}

form p {
  margin-top: 32px;
}

#message {
  background: yellow;
  border: 2px solid black;
  border-radius: 8px;
  width: 200px;
  z-index: 10;
  position: fixed;
  right: 64px;
  bottom: 64px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .4s, transform .4s; 
} 

.mess {
  color: black;
}

#message span {
  color: red;
}

#message.show {
  opacity: 1;
  transform: none; 
}

.p-close {
  color: black;
  font-size: 12px;
  border: 1px dashed black;
  cursor: pointer;
}

.p-close:hover {
  opacity: 0.5;
}

/*Omikuji*/

.omikuji {
  width: 240px;
  margin: 0 auto;
}

.omikuji div {
border: 4px double gold;
margin-top: 64px;

}

.omikuji h1 {
  border-bottom: 4px solid gold;
  padding: 16px 24px;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: red;
}

#omikuji-result {
  padding: 32px 24px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: red;
}

#omikuji-btn {
  all: unset;
  background: gold;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  padding: 8px 0;
  font-weight: bold;
  margin-top: 24px;
  cursor: pointer;
  box-shadow: 0px 4px #333;
}

#omikuji-btn:hover {
  opacity: .8;
}

#omikuji-btn:active {
  transform: translateY(3px);
  box-shadow: 0px 1px #333;
}

/*三択クイズ*/
.main-quiz {
  width: 320px;
  margin: 64px auto;
  padding: 32px;
  border-radius: 8px;
  background: #F8F5E3;
}

.main-quiz h1 {
  font-size: 32px;
  border-bottom: 2px solid #aaa;
  padding-bottom: 8px;
  color: black;
}

.main-quiz section h2 {
  font-size: 16px;
  margin-top: 16px;
  color: black;
}

.main-quiz section ol {
  margin: 0;
  margin-top: 8px;
}
.main-quiz section li {
  margin-top: 8px;
  padding-left: 4px;
  cursor: pointer;

}

.main-quiz section li.skyblue {
  background: skyblue;
}

.main-quiz section li:hover {
  opacity: .6;
}

.correct {
  background: lightgreen;
}

.correct::after {
  content: " -正解！- "
}

.wrong {
  background: pink;
}

.wrong::after {
  content: " -不正解！- "
}




@media (max-width: 600px) {

 /*header*/
 header h1 {
  white-space: nowrap; /*改行しない*/
 }

 header ul {
  width: 100%;
 }

 nav ul li a{
  padding: 0 6px;
  box-sizing: border-box;
  width: 100%;
 }


.box {
    display: block;
}

.item {
    margin: 32px auto;
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: #111;
    font-size: 48px;
    font-weight: bold;
    padding: 0;
}


.games {
  width: 80%;
}

.game1 {
  font-size: 16px;
}

.game2 {
  font-size: 16px;
}

.contact {
  min-width: 240px; 
}

textarea {
 width: 240px;
}

#message {
  pointer-events: none;
}

.p-close {
  pointer-events: all;
}
}