@charset "utf-8";

/*common*/

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 24px;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/*header*/

header {
  display: flex;
  background: white;
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
 }

 header h1 {
  line-height: 64px;
  margin: 0 8px;
 }

header nav {
  margin-left: auto; /**/
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header nav a {
  display: block;
  width: 100px;
  line-height: 64px;
  text-align: center;
}

 header a:hover {
  background: #eee;
}

/*hero*/


.hero {
 background-image: url(landscape.png);
 background-repeat:  repeat-x;  
 background-position: center; 
 background-size: contain;
 width: 100%;
 height: 320px;
 opacity: 0.9;
 margin-top: 64px; /*一番上にスクロールしたとき画像がヘッダーと重ならないようにするため*/
}
 
.hero h3 {
  font-size: 16px;
  background: skyblue;
  width: 300px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 2px solid black;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative; 
  top: 138px;
  animation: popup 2s;
}

@keyframes popup {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

/*description*/

.main {
  padding: 80px;
  text-align: center;
}
.main h2 {
  padding-top: 72px;
}

.description {
  display: flex;
  gap: 32px;
}

.self-picture img {
  border-radius: 50%;
}

.introduction h3 {
  margin-top: 32px;
  text-align: left;
}

.introduction p {
  margin-top: 16px;
  text-align: left;
}

.box {
  display: flex;
  gap: 32px;
  margin: 32px auto 0; /*3つのboxを含む箱を中央*/
}

.html {
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 48px;
  font-weight: bold;
  background: #111;
  color: white;
  text-shadow: 0 0 20px pink;
  margin: 32px 0 0 auto; /*左にのみ余白調整で中央寄せ*/
}
.css {
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 48px;
  font-weight: bold;
  background: #111;
  color: white;
  text-shadow: 0 0 20px skyblue;
  margin-top: 32px;/*左右余白はgap32があるから必要なし*/
}
.js {
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 48px;
  font-weight: bold;
  background: #111;
  color: white;
  text-shadow: 0 0 20px yellow;
  margin: 32px auto 0 0; /*右のみ余白調整で中央寄せ*/
}

/*games*/
.games {
  width: 50%;
  margin: 16px auto;
}
.games h1 {
  margin: 64px 0 32px 0;
}

.games #omikuji-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  transition: transform .3s;
}

.games li {
  height: 100%;
  min-width: 100%;/* 画像が親のulの幅100％になるようにする。これがないと画像が縮まる */
}

.game1 { 
  display: inline-block;/*aにwidthを設定するため*/
  font-size: 24px;
  font-weight: bold;
  border: 4px solid orange;
  border-radius: 8px;
  background: orange;
  padding: 24px 0;
  width: 100%;
  box-sizing: border-box;
}

.game2 {
  display: inline-block;/*aにwidthを設定するため*/
  font-size: 24px;
  font-weight: bold;
  border: 4px solid pink;
  border-radius: 8px;
  background: pink;
  padding: 24px 0;
  width: 100%;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#prev, 
#next {
position: absolute;
top: 50%;
transform: translateY(-50%);
border: none;
background: rgba(0, 0, 0, .8);
color: #fff;
font-size: 24px;
padding: 0 8px 4px;
cursor: pointer;
}

#prev:hover,
#next:hover {
  opacity: .8;
}

#prev {
  left: 0;
}
#next {
  right: 0;
} 

.hidden {
  display: none;
}

/*contact*/

.contact {
  background: #eee;
  padding-bottom: 72px;
  margin-top: 64px;
  text-align: center;
}

textarea {
  width: 400px;
  height: 80px;
}

.btn {
  width: 80px;
  border: 1px solid black;
  border-radius: 16px;
  margin:16px auto 0;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}
.btn:active {
  transform: translateY(2px);
}

form p {
  margin-top: 32px;
}

#message {
  background: yellow;
  border: 2px solid black;
  border-radius: 8px;
  width: 200px;
  z-index: 10;
  position: fixed;
  right: 64px;
  bottom: 64px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .4s, transform .4s; 
} 

#message span {
  color: red;
}

#message.show {
  opacity: 1;
  transform: none; 
}

.p-close {
  font-size: 12px;
  border: 1px dashed black;
  cursor: pointer;
}

.p-close:hover {
  opacity: 0.5;
}


/*Omikuji*/

.omikuji {
  width: 240px;
  margin: 0 auto;
}

.omikuji div {
border: 4px double gold;
margin-top: 64px;

}

.omikuji h1 {
  border-bottom: 4px solid gold;
  padding: 16px 24px;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: red;
}

#omikuji-result {
  padding: 32px 24px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: red;
}

#omikuji-btn {
  all: unset;
  background: gold;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  padding: 8px 0;
  font-weight: bold;
  margin-top: 24px;
  cursor: pointer;
  box-shadow: 0px 4px #333;
}

#omikuji-btn:hover {
  opacity: .8;
}

#omikuji-btn:active {
  transform: translateY(3px);
  box-shadow: 0px 1px #333;
}

/*三択クイズ*/
.main-quiz {
  width: 320px;
  margin: 64px auto;
  padding: 32px;
  border-radius: 8px;
  background: #f8f5e3;
}

.main-quiz h1 {
  font-size: 32px;
  border-bottom: 2px solid #aaa;
  padding-bottom: 8px;
}

.main-quiz section h2 {
  font-size: 16px;
  margin-top: 16px;
}

.main-quiz section ol {
  margin: 0;
  margin-top: 8px;
}
.main-quiz section li {
  margin-top: 8px;
  padding-left: 4px;
  cursor: pointer;
  
}

.main-quiz section li.skyblue {
  background: skyblue;
}

.main-quiz section li:hover {
  opacity: .6;
}

.correct {
  background: lightgreen;
}

.correct::after {
  content: " -正解！- "
}

.wrong {
  background: pink;
}

.wrong::after {
  content: " -不正解！- "
}




@media (max-width: 600px) {

 /*header*/
 header {
  min-width: 300px;
  width: 100%;
 }

 header h1 {
  white-space: nowrap; /*改行しない*/
 }

 nav {
  padding: 0 16px;
 }
 nav a {
  width: 60px;
}

 /*description*/
 .main {
  text-align: center;
  padding: 32px;
  min-width: 300px;
 }


 .box {
  display: block;
  margin-top: 40px;
  width: 240px;
  margin: 32px auto 0;/*3つの要素全体を中央寄せ*/
  /* outline: 3px solid red; */
}


.description {
  display: block;
}

.introduction {
  min-width: 240px;
}

.html {
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 48px;
  font-weight: bold;
  background: #111;
  color: white;
  text-shadow: 0 0 20px pink;
  /* min-width: 150px; */
  margin: 0 auto;/*要素(.box)の中で中央寄せ*/
}
.css {
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 48px;
  font-weight: bold;
  background: #111;
  color: white;
  text-shadow: 0 0 20px skyblue;
  margin: 32px auto 0;/*要素(.box)の中で中央寄せ*/
  /* min-width: 150px; */
} 

.js {
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 48px;
  font-weight: bold;
  background: #111;
  color: white;
  text-shadow: 0 0 20px yellow;
  margin: 32px auto 0;/*要素(.box)の中で中央寄せ*/
}

.game1 {
  font-size: 16px;
}

.game2 {
  font-size: 16px;
}

.contact {
  min-width: 240px; 
}

textarea {
 width: 240px;
}

#message {
  pointer-events: none;
}

.p-close {
  pointer-events: all;
}

}